/* BookEvent.css */
.book-event {
  background-color: #e4ded5;
  padding: 2rem;
  text-align: center;
}

h2 {
  color: #5b5348;
  padding-left: 55px;
}

form {
  width: 80%;
  margin: 1rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4a4135;
}

input, select, textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #c8bcb0;
  border-radius: 5px;
  margin-bottom: 1rem;
}

button {
  background-color: #ff914d;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
